
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppis', sans-serif;
}
body{
    
    display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: var(--bg-color);
}
.container{
    
    max-width: 400px;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    background: rgb(4, 3, 24);
    color: white;
    box-shadow: 0 5px 10px rgb(0, 0, 0);

}
.display-container{
    display: flex;
    flex-direction: column;
    margin-block: 40px 30px;
}
.history{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 30px;
    text-align: right;
    color:gray;
    font-weight: 300;
}
.display{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 70px;
    width: 100%;
    text-align: right;
    outline: none;
    border: none;
    pointer-events: none;
    background: transparent;
    color: white;
}
::placeholder{
    color: rgb(255, 255, 255);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}
.buttons button{
    width: 75px;
    height: 75px;
    font-size: 24px;
    font-weight: 300;
    background-color: rgb(44, 37, 37);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.buttons .operator{
    background-color: rgb(247, 162, 4)
}

.buttons .operator-top-operator{
    background-color: rgb(207, 193, 193);
}
.buttons button:active{
    transform: scale(0.95);
}
button.zero{
    width: calc(50% - 8px);
    border-radius: 50px;
    text-align: left;
    padding-left: 30px;
}
/* ======REsponsive====== */

